* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

header {
    text-align: center;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acerto {
    border: 2px solid green;
}

.erro {
    border: 2px solid red;
}

#divMain {
    background-color: white;
    text-align: center;
    border: 2px solid black;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #807878;
    border-radius: 5px;
}

input:hover {
    background-color: whitesmoke;
}

label {
    display: block;
    margin-top: 15px;
}

#senha {
    margin-left: 10px;
}

#imgOlho {
    width: 15px;
    height: 13px;
}

p {
    text-align: center;
    color: red;
    font-size: 15px;
}

#botaoSenha{
    margin-right: -13px;
}