* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

header {
    text-align: center;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#divImagens {
    display: flex;
    background-color: white;
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    margin-bottom: 140px;
    margin-right: -950px;
    margin-left: 350px;
}

img {
    width: 300px;
    height: 300px;
    max-height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

button {
    width: 150px;
    height: 25px;
    margin-left: 10px;
}

#divBotoes {
    display: flex;
    margin-top: 550px;
    margin-right: 550px;
}

nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 216, 145);
}

a {
    font-size: 30px;
    margin-left: 20px;
}