* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

header {
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divMain {
    display: flex;
    background-color: white;
    border: 3px solid black;
    width: 1000px;
    height: 730px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

input {
    margin-top: 5px;
}

label {
    font-size: 20px;
}

.divPerguntasEsquerda {
    width: 500px;
    height: max-content;
}

.divPerguntasDireita {
    width: 500px;
    height: max-content;
}

p {
    font-size: 23px;
    margin-top: 20px;
}

button {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    margin-left: -50px;
}

nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(255, 213, 163);
}

a {
    font-size: 30px;
    margin-left: 20px;
}